<h2>Edit Post</h2>

<form action="<%= post_url(@post) %>" method="POST" class="ui form">
  <%= form_auth %>
  <%= form_patch %>

  <label for="">Title:
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>

  <br><br>

  <label for="">URL:
    <input type="text" name="post[url]" value="<%= @post.url %>">
  </label>

  <br><br>

  <label for="">Content:
    <textarea name="post[content]" id="" cols="30" rows="10"><%= @post.content %></textarea>
  </label>

  <br><br>

  <input type="submit" value="Update Post" class="ui button primary">
</form>
