<h2>Create New Post</h2>

<form action="<%= posts_url %>" method="POST" class="ui form">
  <%= form_auth %>

  <label for="">Title:
    <input type="text" name="post[title]">
  </label>

  <br><br>

  <label for="">URL:
    <input type="text" name="post[url]">
  </label>

  <br><br>

  <label for="">Content:
    <textarea name="post[content]" id="" cols="30" rows="10"></textarea>
  </label>

  <br><br>

  

  <label for="post[sub_ids][]">Related Subs:</label>

  <br><br>

    <% Sub.all.each do |sub| %>
    <label>
      <input 
        type="checkbox" 
        name="post[sub_ids][]" 
        value="<%= sub.id %>" 
        <%= 'checked' if @post.sub_ids.include?(sub.id) %>
      >
      <%= sub.title %>
    </label>
    <br>
    
  <% end %>

  <br><br>

  <input type="submit" value="Create Post" class="ui button primary">
</form>

  <br><br>
  <br><br>
